/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-gray: #F1F5F7;
  --basic-dark-gray: #32425C;
  --basic-red: #EE3643;
  --basic-beige: #F9F5F0;
  --basic-yellow: #FFD180;
  --basic-green: #63A63E;
  --basic-black: #000000;
  --basic-greylight: #C5C5C5;
  --basic-greenlight: #5FBB2D;
  --basic-dark-green: #518534;

  --catalog-beige:#F7F3EC;
  --catalog-grey-price:#A9A9A9;


  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green: #8ED78F;
  --button-opacity: rgba(255, 255, 255, 0.3);

  --footer-grey: #293449;
}

/* Global */

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-gray);
}

.center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* User navigation */

.user-navigation a,
.main-navigation a,
.main-menu a {
  color: var(--basic-white);
}

.user-navigation {
  display: flex;
  background-color: var(--basic-dark-gray);
  height: 42px;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 37.5px;
}

.search-form {
  align-self: center; 
}

.user-navigation-bar {
  background-color: var(--basic-dark-gray);
}

.user-list{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order{
  background-color: var(--basic-green);
}

.user-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44.5px;
  align-content: center;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.main-title{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: var(--basic-red);
  align-self: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.main-contact{
  justify-self: center;
  margin: 0;
  padding: 0;
  list-style: none;

}

.contacts-phone{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: 3px solid #FFFFFF;
  color: var(--basic-red);
}

.contact-center {
  text-align: center;
}

.main-address{
  font-size: 16px;
  color: var(--basic-dark-gray);
}

.main-login{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-self: end;
}

.login-link{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link:hover,
.registration-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--basic-greylight);
}

.registration-link{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/* Site Navigation */

.main-navigation{
  width: 940px;
  margin: 0 auto;
  background-color: var(--basic-dark-gray);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 53px;
  padding-right: 53px;
  margin-bottom: 60px;
}

.site-navigation li {
  align-self: center; 
}


/*Main menu*/

.menu-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  margin-bottom: 59px;
  list-style: none;
}

.menu-container h3 {
  margin-top: 20px;
  margin-bottom: 14px;
  margin-left: 22px;
}

.item-material {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--special-yellow);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-tool{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--special-blue);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.item-technic {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--special-purple);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.item-stock {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--special-green);
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.item-delivery {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--special-yellow);
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.gallery-container {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.gallery-content {
  margin: 0;
  padding: 0;
}

.button-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--button-opacity);
  mix-blend-mode: normal;
  padding: 10px 24px;
  margin-bottom: 22px;
  margin-left: 22px;

}

.button-red {
  display: inline-block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 192px;
  height: 27px;
  padding-top: 11px;
  text-align: center;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 89px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark-gray);
  background-color: var(--basic-beige);
  margin-bottom: 20px;
}

.button-red-popular {
  margin-top: 25px;
  margin-bottom: 26px;
  margin-right: 14px;
}

.main-section h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 29px;
  margin-bottom: 30px;
  margin-left: 28px;
}

.popular-products a{
  color: var(--basic-black);
}

.catalog-list-popular {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  list-style: none
}

.catalog-item-popular {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-item-popular:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-popular p {
  margin: 0;
}

.catalog-item-image {
  width: 220px;
  height: 165px;
  text-align: center;
  vertical-align: middle;
}

.popular-brands-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 145px 145px;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.popular-brands-list li{
  align-self: center;
  text-align: center;
}


.service{
  background-color: var(--basic-gray);
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
 
.service h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 64px;
  margin-bottom: 25px;
}

.service p {
  margin: 0;
  margin-bottom: 21px;
}

.service-form {
  display: flex;
  justify-content: space-between;
}

.delivery-info {
  justify-self: end;
}

.delivery-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark-gray);
}


.about-us h2,
.contacts h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.service-list label{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-dark-gray);
}

.service-list {
  width: 240px;
  list-style: none;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  align-self: flex-start;
}

.contacts {
  align-self: flex-start;
  width: 300px;
}

.button-red-map {
  width: 300px;
}

.contacts img {
  margin-bottom: 25px;
}

.about-us-list {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.about-us-list a {
  color: var(--basic-black);
}

/* Main footer */

.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark-gray);
  background-position: 0 0;
}

.main-footer p {
  margin: 0;
}

.footer-nav-1 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 22px; 
}

.footer-logo {
  width: 220px;
}

.footer-contact {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.footer-nav-list-1 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  margin-left: 174px;
}

.footer-nav-list-2 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  margin-left: 80px;
  margin-bottom: 54px;
}

.footer-nav-2 {
  display: flex;
  justify-content: space-between;
}

.footer-nav-1 a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.footer-nav-2 a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-yellow);
}

.footer-nav-item:hover {
  text-decoration: underline;
}

.footer-nav-item:active {
  opacity: 50%;
}

.footer-nav-list-1,
.footer-nav-list-2 {
  list-style: none;
}

.footer-background{
  background-color: var(--footer-grey);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
}

.social-button {
  color: inherit;
}

.footer-mail,
.footer-copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
}

.footer-mail a,
.footer-copyright a {
  color: var(--basic-yellow);
}

/* CATALOG */

.breadcrumbs a,
.catalog a {
  color: var(--basic-black);
}

.breadcrumbs {
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark-gray);
  background-color: var(--basic-gray);
}

.filter-list,
.sorting-list {
  list-style: none;
}

.filters-title,
.sorting-title {
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--catalog-beige);
}

.filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-option {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-button {
  line-height: 18px;
  text-transform: uppercase;
}

.sortings {
  background-color: var(--catalog-beige);
}

.sorting-option {
  line-height: 18px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: var(--catalog-beige);
}

/*.sorting-option:hover {
  color: var(--basic-black);
}

.sorting-option:active {
  color: var(--basic-red);
}*/

.catalog-list,
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.catalog-item {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-left: 18px;
  margin-right: 17px;
  margin-bottom: 7px;
}

.catalog-item-old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color:var(--catalog-grey-price);
  text-align: center;
  margin-top: 13px;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color:var(--basic-white);
  background-color: var(--basic-red);
  width: 109px;
  height: 28px;
  padding-top: 10px;
  padding-left: 32px;
  margin-left: 45px;
}

.new {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color:var(--basic-white);
  background-color: var(--basic-red);
}

.button-cart {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color:var(--basic-white);
  border-radius: 2px;
  background-color: var(--basic-green);
}

.button-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  color:var(--basic-dark-gray);
  background-color: var(--basic-white);
}

.button-cart:hover {
  background-color: var(--basic-greenlight);
}

.button-cart:active {
  background-color: var(--basic-dark-green);
}

.button-bookmarks:hover {
  border: 3px solid var(--basic-dark-gray);
}

.button-bookmarks:active {
  border: 3px solid var(--basic-dark-gray);
  opacity: 0.5;
}

.pagination-item {
  line-height: 18px;
  text-transform: uppercase;
}

.product-info {
  background-color: var(--basic-gray);
}

.product-info-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Grid */

.page {
  height: 100%;
}

